/*
  Horizontal navbar adapted with latest css functionnalities

  To change color, simply define them in a "style" attribute
  ex: <nav class="micm-h-navbar" style="--color-main: blue;"> ... </nav>
*/

nav.micm-h-navbar{
  --color-main: #333;
  --color-secondary: #111;
  --color-active: #4caf50;
}

nav.micm-h-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-main);
}

nav.micm-h-navbar ul li {
    float: left;
}

nav.micm-h-navbar ul li.right{
  float: right;
}

nav.micm-h-navbar ul li.text{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  border-left: 1px solid var(--color-secondary);
  border-right: 1px solid var(--color-secondary);
}

nav.micm-h-navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav.micm-h-navbar ul li a:hover:not(.active) {
    background-color: var(--color-secondary);
}

nav.micm-h-navbar .active {
    background-color: var(--color-active);
}
