body{
    margin: 0;
    padding: 0;
}
nav ul{
    /*essential*/
    list-style-type: none;
    margin: 0;  
    padding:0;
    left: 0; 
    position: fixed;   
    width: 15%;
    /*non essential*/
    background: green;
}
nav a:hover{
    /*non essential*/
    background: black;
    cursor: pointer;
}
nav a{
    /*essential*/
    display: block; 
    text-decoration: none;
    padding: 14px 10px;
    /*non essential*/
    color: white;
    font-size: 18px;
    border-bottom: white solid 1px;
    text-align: center;
    font-size: 20px;
}
/*responsive*/
@media only screen and (max-width: 650px){
    nav ul{
        width: 100%;
    }
    nav a{
        float: none;
        text-align: center;
        font-size: 25px;
    }
}
